[submodule "dotty"]
	path = dotty
	url = https://github.com/vibhavp/dotty
[submodule "vim"]
	path = vim
	url = https://github.com/lorecast162/dotfilesVIM
[submodule "rofi"]
	path = rofi
	url = https://github.com/lorecast162/dotfilesROFI
[submodule "zsh"]
	path = zsh
	url = https://github.com/lorecast162/dotfilesZSH
[submodule "mpd"]
	path = mpd
	url = https://github.com/lorecast162/dotfilesMPD
[submodule "picom"]
	path = picom
	url = https://github.com/lorecast162/dotfilesPICOM
[submodule "ranger"]
	path = ranger
	url = https://github.com/lorecast162/dotfilesRANGER
[submodule "screen"]
	path = screen
	url = https://github.com/lorecast162/dotfilesSCREEN
[submodule "scripts"]
	path = scripts
	url = https://github.com/lorecast162/dotfilesSCRIPTS
[submodule "sounds"]
	path = sounds
	url = https://github.com/lorecast162/dotfilesSOUNDS
[submodule "tmux"]
	path = tmux
	url = https://github.com/lorecast162/dotfilesTMUX
[submodule "twmn"]
	path = twmn
	url = https://github.com/lorecast162/dotfilesTWMN
[submodule "wal"]
	path = wal
	url = https://github.com/lorecast162/dotfilesWAL
[submodule "X11"]
	path = X11
	url = https://github.com/lorecast162/dotfilesX11
[submodule "xsettingsd"]
	path = xsettingsd
	url = https://github.com/lorecast162/dotfilesXSETTINGSD
[submodule "polybar"]
	path = polybar
	url = https://github.com/lorecast162/dotfilesPOLYBAR
[submodule "sxhkd"]
	path = sxhkd
	url = https://github.com/lorecast162/dotfilesSXHKD
[submodule "i3"]
	path = i3
	url = https://github.com/lorecast162/dotfilesI3
